body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

$breakpoints: (
  sm: 768px,
  md: 992px,
  lg: 1200px
);

@mixin break($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

$items: 12;

.text-right {
  text-align: right; 
}
.grid {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1300px;
  }
}

@each $key, $value in $breakpoints {
  @for $i from 1 through $items {
    .gitem-#{$key}-#{$i} {
      flex: 0 0 100%;
    }
  }
}

@each $key, $value in $breakpoints {
  @for $i from 1 through $items {
    .gitem-#{$key}-#{$i} {
      @include break($key) {
        flex: 0 0 #{$i / $items * 100%}
      }
    }
  }
}
